/* src/app/app.css (Atualizado) */
main > section {
  position: relative; /* Essencial para o z-index funcionar */
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita qualquer conteúdo de vazar */
}

/* Definindo a ordem de empilhamento e o fundo de cada seção */
#hero {
  z-index: 5;
  background-color: var(--color-primary);
}
#cabin {
  z-index: 4;
  background-color: var(--color-secondary);
}
#maintenance {
  z-index: 3;
  background-color: var(--color-primary);
}
#perception {
  z-index: 2;
  background-color: var(--color-secondary);
}
#conclusion {
  z-index: 1;
  background-color: var(--color-primary);
  min-height: 70vh;
  border-bottom: none;
}
