:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.about-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  color: var(--color-accent);
  margin-bottom: 20px;
  position: relative;
}

p {
  color: var(--color-text-light);
  line-height: 1.6;
  margin-bottom: 15px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 10px;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  margin-bottom: 20px;

}

.skills-list li {
  position: relative;
  padding-left: 20px;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.skills-list li::before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--color-accent);
}

.image-placeholder {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-color: var(--color-accent);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-weight: bold;
  margin: 0 auto;
}

/* --- Lógica da Animação de Scroll --- */
/* Agora a logica ficou com a diretiva Gsap */


/* Responsividade */
@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .skills-list {
    margin: 20px auto 0;
  }
}
